.container {
  margin: 0 2rem;
  margin-top: 2rem;
}

.filter {
  display: grid;
  grid-template: auto / 1fr;
  gap: 10px;
  border: 1px solid #0070f3;
  padding: 1rem 2rem;
  border-radius: 5px;
  position: absolute;
  transform: translateY(-600px);
  left: 0;
  top: 0;
  width: 50%;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.filter input[type="radio"] {
  transform: scale(1.5);
}

.filter .radioBtn {
  display: flex;
  justify-content: space-between;
}

.filter .textInput {
  display: flex;
  flex-direction: column;
}

.active {
  transform: translateY(0);
}

@media(max-width: 600px) {
  .filter {
    width: 100%;
  }
}